{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Textivist Account</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/mobiles.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Textivist Network</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/textivist/2/">An Account</a></li>
                        <li><a href="/textivist/2/organisation/1/">An Organisation</a></li>
                        <li><a href="/mobiles/2/">A Mobile</a></li>
                        <li><a href="/mobiles/">Redacted List of Mobiles</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/batch/add/">Schedule a batch message</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Admin Links (permission required)</li>
                                <li><a href="/admin/mobiles/mobile/">List of mobiles</a></li>
                                <li><a href="/admin/mobiles/msgbatch/">Scheduled Messages</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/help/">Help</a></li>
                        <li><a href="/admin/">Admin</a></li>
                    </ul>
                </div><!-- nav-collapse -->
            </div><!-- container-fluid -->
        </nav>
        <div id="page_body" class="jumbotron">
            <div id="sub_header">
                {% block subheader %}
                {% endblock %}
            </div>
            <div id="page_content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>