{% extends 'mobiles/base.html' %}

{% block subheader %}
    <h1>Textivist - SMS Campaigns & Notifications - Prototype</h1>
{%  endblock %}

{% block content %}
    <div class="container">
        <p>Textivist is a tool to send bulk and semi-anonymous text messages. Members of both the general public and
        your organisation can register their mobiles with Textivist, and join organisations and sign up to updates.
        Every organisation - and you can have multiple organisations within your account - gets its own phone number.
        This enables you to allocate costs to campaigns, especially if you have a legal requirement to file accurate
        expenses.</p>
        <p>Textivist (and its suppliers) adheres to privacy regulations that enable users to block messages at any
        time.</p>
        <p><i>This is currently a prototype, not a fully functional application. Follow the "Try it out!" instructions
            if you'd like to see how the core functionality works.</i></p>
    </div>
    <hr>
    <div class="container">
        <h3>Application Structure</h3>
            <h5>Accounts</h5>
            <p>The top level structure within Textivist. It is broadly assumed that an account represents a single
            overall organisation, which users would expect to hold accountable. For instance, while most political
            campaigning happens at a street level, people expect to be able to raise issues such as unwanted messages
            and have it dealt with throughout the UK.</p>
            <h5>Organisations</h5>
            <p>Most application users will be focused on a particular organisation (large campaigning enterprises,
            such as political parties, have many teams. A user may have broad or narrow interests). This also enables
            Textivist to provide separate invoices per organisation. It can even (once implemented!) provide a breakdown
            of costs by topic.</p>
            <h5>Mobiles</h5>
            <p>Users register their mobile with Textivist, and then join multiple accounts and organisations.
            They can self-manage which topics they receive messages about.</p>
            <h5>Topics and Subscriptions</h5>
            <p>Every account and organisation might have one or more topics, which mobiles can be subscribed to.</p>
        <h3>Try it out!</h3>
            <ol>
                <li>Register your mobile: text "REGISTER" to 01268 833 501</li>
                    <ul><i>
                        <li>You should receive a confirmation text with password.</li>
                        <li>Note that Textivist uses your number including international code e.g. +4471234123456</li>
                    </i></ul>
                <li>Set your name: text "SET OWNER Firstname Lastname" to 01268 833 501</li>
                <li>Subscribe to a topic: text "ADD ELEX" to 01268 833 501</li>
                <li>Schedule a bulk message: <a href="/batch/add/">Click here, or Actions->Schedule Message:</a>
                    <ul>
                        <li>You will be asked to login. Use the phone number and password from your confirmation text.</li>
                        <li>Topic = "Elections In My Area"</li>
                        <li>Pick a time to send, in the format: "2017-03-14 15:00" <i>(we suggest 3-5 minutes in the future)</i></li>
                        <li>Leave Type and Priority as the defaults of "SMS" and "Normal Messages"</li>
                        <li>Body: Enter any message you like! <i>(Don't forget that SMS messages should be less than 160 characters)</i></li>
                        <li>Click "Schedule Message" <i>(You will be returned to the home page)</i></li>
                    </ul>
                </li>
                <li>While waiting for your text, <a href="/mobiles/">check you have been registered here.</a></li>
                <li>Verify that your permissions prevent you from sending bulk messages from your mobile:
                    <ul>
                        <li>Text "CAST ELEX This message will be rejected" to 01268 833 501</li>
                        <li><i>You should receive a "Permission denied." message.</i></li>
                    </ul>
                </li>
                <li>Mute a topic: text "MUTE ELEX" to 01268 833 501
                    <ul><li>Just re-send "ADD ELEX" to re-subscribe</li></ul>
                </li>
                <li>Block all messages from 01268 833501: Text "STOP" to 01268 833 501
                    <ul><i>
                        <li>These commands also work: STOPALL, UNSUBSCRIBE, CANCEL, END, QUIT.</li>
                        <li>Note: need a policy and logic to block *all* phone numbers associated with an account.</li>
                        <li>Potentially, upon receiving a STOP (or just STOPALL?), could check if mobile is registered
                            to other accounts and send a text asking if they'd like them all blocked.</li>
                    </i></ul>
                </li>
                <li>Remove block: Text "START" to 01268 833 501.
                    <ul><i>
                        <li>These commands also work: START, YES, UNSTOP.</li>
                        <li>They will also be treated as registration requests.</li>
                    </i></ul>
                </li>
            </ol>
    </div>
{% endblock %}

