{% extends 'mobiles/base.html' %}

{% block subheader %}
    <h1>{{ user.get_full_name }} </h1>
    <p>Created: {{ user.created_date }}</p>
    <p>Owner: {{ user.first_name }} {{ user.last_name }}</p>
{% endblock %}

{% block content %}
    <div class="content container">
        <h2>Memberships</h2>
        {% for membership in memberships %}
            <p><a href="{% url 'tt_account' textivist_id=membership.tt_account.pk %}">{{ membership.tt_account }}</a> -
                {% for organisation in membership.organisations.all %}
                    {{ organisation.name }},
                {% endfor %}</p>
        {% endfor %}
    </div>

    <div class="content container">
        <h2>Subscriptions</h2>
        {% for subscription in subscriptions %}
            <p>{{ subscription.topic }} (managed by {{ subscription.topic.organisation }},
                for {{ subscription.tt_account }} {% if subscription.topic.owner == user %}<i>(you manage this topic</i>{% endif %})</p>
        {% endfor %}
    </div>

{% endblock %}