{% extends 'mobiles/base.html' %}

{% block subheader %}
    <h1>{{ account.name }}</h1>
    <p>Created: {{ account.created_date }}</p>
    <p>Owner: {{ account.owner }}</p>
{% endblock %}

{% block content %}
    {% for organisation in organisations %}
        <h3><a href="{% url 'organisation' textivist_id=organisation.tt_account.pk organisation_id=organisation.pk %}">{{ organisation }}</a></h3>
        <p>Managed by {{ organisation.owner.get_full_name}}</p>
        {% if not organisation.parent == None %}
        <p>Part of {{ organisation.parent }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}