{% extends 'mobiles/base.html' %}

{% block subheader %}
    <h1>{{ topic.name }}</h1>
    <p>{{ topic.description }}</p>
{% endblock %}

{% block content %}
    <h3>Messages scheduled</h3>
    <ol>
    {% for batch in topic.msgbatch_set.all %}
        <li>{{ batch.to_send }}: {{ batch.body }}</li>
    {% endfor %}
    </ol>
    <h3>Mobiles Subscribed</h3>
    <ol>
    {% for subscription in topic.subscription_set.all %}
        <li>{{ subscription.phone_number}} Subscribed: {{ subscription.subscribed_date}}
            Last Contacted: {{ mobile.last_texted|default_if_none:"Never texted" }}</li>
    {% endfor %}
    </ol>
{% endblock %}